@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  Dark theme Palette:
  Black background: #222831
  Gray background: #31363F
  Sea brume blue: #76ABAE
  Ash white: #EEEEEE

*/

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --black-dm: #222831;
  --gray-dm: #31363F;
  --blue-dm: #76ABAE;
  --white-dm: #EEEEEE;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
